<launch>

    <include file="$(find rospkg-ogameasure)/launch/GPDVC15_100.launch" />
    <include file="$(find rospkg-ogameasure)/launch/l218.launch" />
    <include file="$(find rospkg-ogameasure)/launch/n9343c.launch" />
    <include file="$(find rospkg-ogameasure)/launch/ma24126a.launch" />
    <!--
    <include file="$(find rospkg-ogameasure)/launch/tpg261.launch" />
    <include file="$(find rospkg-ogameasure)/launch/87104b.launch" />
    <include file="$(find rospkg-ogameasure)/launch/fsw0020.launch" />
    -->
</launch>
