<launch>

  <include file="$(find necst-tz2019)/launch/tz-rx.launch" />
  <include file="$(find rospkg-pyinterface)/launch/rospkg-pyinterface.launch" />
  <include file="$(find rospkg-ogameasure)/launch/rospkg-ogameasure.launch" />

  <machine name="hinotoritz" address="192.168.180.188" env-loader="/root/ros/devel/env.sh", uesr="hinotoritz", password="hinotoritz" />
  <machine name="hinotoritz_fac" address="192.168.180.180" env-loader="/root/ros/devel/env.sh", uesr="root", password="root"  />


</launch>
