<launch>

  <include file="$(find necst-tz2019)/launch/tz_rx.launch" />
  <include file="$(find necst-tz2019)/launch/rospkg-pyinterface.launch" />
  <include file="$(find necst-tz2019)/launch/rospkg-ogameasure.launch" />

  <machine name="hinotoritz" address="192.168.100.188" env-loader="/root/ros/devel/env.sh" user="hinotoritz" password="hinotoritz" />
  <machine name="hinotoritz_fac" address="192.168.100.180" env-loader="/root/ros/devel/env.sh" user="root" password="root"  />


</launch>
