<launch>

<!-- sis_bias_writer_section

sis_bias_v_tz2019_dev_writer -->
  <node pkg = "necst-tz2019"
        name = "sis_bias_v1_v_tz2019_dev_writwer"
        type = "relay.py">
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_v1/v_cmd'/>
    <remap from = '/dev/pci3346A/rsw0/ch' to = '/dev/pci3346A/rsw0/ch1'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_v_tz2019_dev_writer.conf" />
  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_h1_v_tz2019_dev_writwer"
        type = "relay.py">
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_h1/v_cmd'/>
    <remap from = '/dev/pci3346A/rsw0/ch' to = '/dev/pci3346A/rsw0/ch2'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_v_tz2019_dev_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_h2_v_tz2019_dev_writwer"
        type = "relay.py">
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_h2/v_cmd'/>
    <remap from = '/dev/pci3346A/rsw0/ch' to = '/dev/pci3346A/rsw0/ch3'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_v_tz2019_dev_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v2_v_tz2019_dev_writwer"
        type = "relay.py">
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_v2/v_cmd'/>
    <remap from = '/dev/pci3346A/rsw0/ch' to = '/dev/pci3346A/rsw0/ch4'/>
    <param name = "config_file"
             value = "$(find necst-tz2019)/node_conf/sis_bias_v_tz2019_dev_writer.conf" />

  </node>


<!--sis_bias_vgap_tz2019_tz2019_writer-->

  <node pkg = "necst-tz2019"
        name = "sis_bias_h1_vgap_tz2019_tz2019_writer"
        type = "relay.py">
    <remap from = '/tz2019/sis_vgap_cmd' to = '/tz2019/sis_h1/vgap_cmd'/>
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_h1/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vgap_tz2019_tz2019_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_h2_vgap_tz2019_tz2019_writer"
        type = "relay.py">
    <remap from = '/tz2019/sis_vgap_cmd' to = '/tz2019/sis_h2/vgap_cmd'/>
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_h2/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vgap_tz2019_tz2019_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v1_vgap_tz2019_tz2019_writer"
        type = "relay.py">
    <remap from = '/tz2019/sis_vgap_cmd' to = '/tz2019/sis_v1/vgap_cmd'/>
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_v1/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vgap_tz2019_tz2019_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v2_vgap_tz2019_tz2019_writer"
        type = "relay.py">
    <remap from = '/tz2019/sis_vgap_cmd' to = '/tz2019/sis_v2/vgap_cmd'/>
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_v2/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vgap_tz2019_tz2019_writer.conf" />

  </node>


<!--sis_bias_vp_tz2019_tz2019-->

  <node pkg = "necst-tz2019"
        name = "sis_bias_h1_vp_writer"
        type = "relay.py">
    <remap from = '/tz2019/sis_vp_cmd' to = '/tz2019/sis_h1/vp_cmd'/>
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_h1/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vp_tz2019_tz2019_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_h2_vp_writer"
        type = "relay.py">
    <remap from = '/tz2019/sis_vp_cmd' to = '/tz2019/sis_h2/vp_cmd'/>
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_h2/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vp_tz2019_tz2019_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v1_vp_writer"
        type = "relay.py">
    <remap from = '/tz2019/sis_vp_cmd' to = '/tz2019/sis_v1/vp_cmd'/>
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_v1/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vp_tz2019_tz2019_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v2_vp_writer"
        type = "relay.py">
    <remap from = '/tz2019/sis_vp_cmd' to = '/tz2019/sis_v2/vp_cmd'/>
    <remap from = '/tz2019/sis_v_cmd' to = '/tz2019/sis_v2/v_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vp_tz2019_tz2019_writer.conf" />

  </node>


<!--sis_bias_vgap_necst_tz2019-->

  <node pkg = "necst-tz2019"
        name = "sis_bias_h1_vgap_necst_tz2019"
        type = "relay.py">
    <remap from = '/tz2019/sis_vgap_cmd' to = '/tz2019/sis_h1/vgap_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vgap_necst_tz2019_writer.conf" />
  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_h2_vgap_necst_tz2019"
        type = "relay.py">
    <remap from = '/tz2019/sis_vgap_cmd' to = '/tz2019/sis_h2/vgap_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vgap_necst_tz2019_writer.conf" />
  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v1_vgap_necst_tz2019"
        type = "relay.py">
    <remap from = '/tz2019/sis_vgap_cmd' to = '/tz2019/sis_v1/vgap_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vgap_necst_tz2019_writer.conf" />
  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v2_vgap_necst_tz2019"
        type = "relay.py">
    <remap from = '/tz2019/sis_vgap_cmd' to = '/tz2019/sis_v2/vgap_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vgap_necst_tz2019_writer.conf" />

  </node>


<!--sis_bias_vp1_necst_tz2019_writer-->

  <node pkg = "necst-tz2019"
        name = "sis_bias_h1_vp_necst_tz2019_writer"
        type = "relay.py">
    <remap from = '/necst/rx_sis2sb/vp_cmd' to = '/necst/rx_sis2sb/vp1_cmd'/>
    <remap from = '/tz2019/sis_vp_cmd' to = '/tz2019/sis_h1/vp_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vp_necst_tz2019_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v1_vp_necst_tz2019_writer"
        type = "relay.py">
    <remap from = '/necst/rx_sis2sb/vp_cmd' to = '/necst/rx_sis2sb/vp1_cmd'/>
    <remap from = '/tz2019/sis_vp_cmd' to = '/tz2019/sis_v1/vp_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vp_necst_tz2019_writer.conf" />

  </node>


<!--sis_bias_vp2_necst_tz2019_writer-->

  <node pkg = "necst-tz2019"
      name = "sis_bias_h2_vp_necst_tz2019_writer"
      type = "relay.py">
  <remap from = '/necst/rx_sis2sb/vp_cmd' to = '/necst/rx_sis2sb/vp2_cmd'/>
  <remap from = '/tz2019/sis_vp_cmd' to = '/tz2019/sis_h2/vp_cmd'/>
  <param name = "config_file"
         value = "$(find necst-tz2019)/node_conf/sis_bias_vp_necst_tz2019_writer.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v2_vp_necst_tz2019_writer"
        type = "relay.py">
    <remap from = '/necst/rx_sis2sb/vp_cmd' to = '/necst/rx_sis2sb/vp2_cmd'/>
    <remap from = '/tz2019/sis_vp_cmd' to = '/tz2019/sis_v2/vp_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_vp_necst_tz2019_writer.conf" />

  </node>


<!--sis_iv_reader-->

  <node pkg = "necst-tz2019"
        name = "sis_bias_v1_i_reader"
        type = "relay.py">
    <remap from = '/sis_i_cmd' to = '/tz2019/sis_v1/i'/>
    <remap from = '/dev/pci3177/rsw0/ch' to = '/dev/pci3177/rsw0/ch1'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_i_reader.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v1_v_reader"
        type = "relay.py">
    <remap from = '/sis_v_cmd' to = '/tz2019/sis_v1/v'/>
    <remap from = '/dev/pci3177/rsw0/ch' to = '/dev/pci3177/rsw0/ch2'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sis_bias_v_reader.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_h1_i_reader"
        type = "relay.py">
    <remap from = '/sis_i_cmd' to = '/tz2019/sis_h1/i'/>
    <remap from = '/dev/pci3177/rsw0/ch' to = '/dev/pci3177/rsw0/ch3'/>
        <param name = "config_file"
               value = "$(find necst-tz2019)/node_conf/sis_bias_i_reader.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_h1_v_reader"
        type = "relay.py">
    <remap from = '/sis_v_cmd' to = '/tz2019/sis_h1/v'/>
    <remap from = '/dev/pci3177/rsw0/ch' to = '/dev/pci3177/rsw0/ch4'/>
        <param name = "config_file"
               value = "$(find necst-tz2019)/node_conf/sis_bias_v_reader.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_h2_i_reader"
        type = "relay.py">
    <remap from = '/sis_i_cmd' to = '/tz2019/sis_h2/i'/>
    <remap from = '/dev/pci3177/rsw0/ch' to = '/dev/pci3177/rsw0/ch5'/>
        <param name = "config_file"
               value = "$(find necst-tz2019)/node_conf/sis_bias_i_reader.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_h2_v_reader"
        type = "relay.py">
    <remap from = '/sis_v_cmd' to = '/tz2019/sis_h2/v'/>
    <remap from = '/dev/pci3177/rsw0/ch' to = '/dev/pci3177/rsw0/ch6'/>
        <param name = "config_file"
               value = "$(find necst-tz2019)/node_conf/sis_bias_v_reader.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v2_i_reader"
        type = "relay.py">
    <remap from = '/sis_i_cmd' to = '/tz2019/sis_v2/i'/>
    <remap from = '/dev/pci3177/rsw0/ch' to = '/dev/pci3177/rsw0/ch7'/>
        <param name = "config_file"
               value = "$(find necst-tz2019)/node_conf/sis_bias_i_reader.conf" />

  </node>

  <node pkg = "necst-tz2019"
        name = "sis_bias_v2_v_reader"
        type = "relay.py">
    <remap from = '/sis_v_cmd' to = '/tz2019/sis_v2/v'/>
    <remap from = '/dev/pci3177/rsw0/ch' to = '/dev/pci3177/rsw0/ch8'/>
        <param name = "config_file"
               value = "$(find necst-tz2019)/node_conf/sis_bias_v_reader.conf" />
  </node>



<!--loatt_section-->

  <node pkg = "necst-tz2019"
        name = "loatth_icmd_writer"
        type = "relay.py">
    <remap from = '/tz2019/loatt/i_cmd' to = '/tz2019/loatt_h/i_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/loatt_icmd_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "loattv_icmd_writer"
        type = "relay.py">
    <remap from = '/tz2019/loatt/i_cmd' to = '/tz2019/loatt_v/i_cmd'/>
    <param name = "config_file"
          value = "$(find necst-tz2019)/node_conf/loatt_icmd_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "tz2019_loatth_dev_writer"
        type = "relay.py">
    <remap from = '/dev/gpdvc15_100rs/i_cmd' to = '/dev/gpdvc15_100rs/ip_192_168_100_44/port_4/i_cmd'/>
    <remap from = '/tz2019/loatt/i_cmd' to = '/tz2019/loatt_h/i_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/loatt_dev_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "tz2019_loattv_dev_writer"
        type = "relay.py">
    <remap from = '/dev/gpdvc15_100rs/i_cmd' to = '/dev/gpdvc15_100rs/ip_192_168_100_44/port_5/i_cmd'/>
    <remap from = '/tz2019/loatt/i_cmd' to = '/tz2019/loatt_v/i_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/loatt_dev_writer.conf" />
  </node>


<!--sg_lo_section-->


  <node pkg = "necst-tz2019"
        name = "sg_lo_necst_tz2019_freq_multiwriter"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_lo_necst_tz2019_freq_multi_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_lo_necst_tz2019_freq_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_lo_necst_tz2019_freq_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_lo_necst_tz2019_power_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_lo_necst_tz2019_power_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_lo_necst_tz2019_onoff_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_lo_necst_tz2019_onoff_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_lo_tz2019_dev_freq_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_lo_tz2019_dev_freq_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_lo_tz2019_dev_power_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_lo_tz2019_dev_power_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_lo_tz2019_dev_onoff_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_lo_tz2019_dev_onoff_writer.conf" />
  </node>



<!--sg_irr_section-->
  <node pkg = "necst-tz2019"
        name = "sg_irr_tz2019_dev_freq_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_irr_tz2019_dev_freq_writer.conf" />
  </node>

  <node pkg = "necst-tz2019"
        name = "sg_irr_tz2019_dev_power_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_irr_tz2019_dev_power_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_irr_tz2019_dev_onoff_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_irr_tz2019_dev_onoff_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_irr_necst_tz2019_freq_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_irr_necst_tz2019_freq_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_irr_necst_tz2019_power_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_irr_necst_tz2019_power_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_irr_necst_tz2019_onoff_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sg_irr_necst_tz2019_onoff_writer.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "sg_irr_necst_necst_freq_writer"
        type = "relay.py">
   <param name = "config_file"
          value = "$(find necst-tz2019)/node_conf/sg_irr_necst_necst_freq_writer.conf" />

  </node>


<!--sa_section-->

<!--
  <node pkg = "necst-tz2019"
        name = "sa_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/sa_reader.conf" />

  </node>
-->

<!--switch_section-->
<!--
  <node pkg = "necst-tz2019"
        name = "switch_cmd_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/switch_cmd_writer.conf" />
  </node>
-->

  <node pkg = "necst-tz2019"
        name = "switch_open_writer"
        type = "relay.py">
    <remap from = '/tz2019/if_switch/ch_cmd' to = '/tz2019/if_switch/open_ch_cmd'/>
    <remap from = '/dev/87104b/__IP__/ch_cmd' to = '/dev/87104b/ip_192_168_100_186/open_ch_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/switch_writer.conf" />
  </node>

  <node pkg = "necst-tz2019"
        name = "switch_close_writer"
        type = "relay.py">
    <remap from = '/tz2019/if_switch/ch_cmd' to = '/tz2019/if_switch/close_ch_cmd'/>
    <remap from = '/dev/87104b/__IP__/ch_cmd' to = '/dev/87104b/ip_192_168_100_186/close_ch_cmd'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/switch_writer.conf" />
  </node>


<!--dewar_temp_section
  <node pkg = "necst-tz2019"
        name = "dewar_temp_reader_ch1"
        type = "relay.py">
    <remap from = '/tz2019/dewar/temp' to = '/tz2019/dewar/temp/4k'/>
    <remap from = '/dev/218/ip_192_168_100_187' to = '/dev/218/ip_192_168_100_187/ch1'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/dewar_temp_reader.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "dewar_temp_reader_ch2"
        type = "relay.py">
    <remap from = '/tz2019/dewar/temp' to = '/tz2019/dewar/temp/sis1'/>
    <remap from = '/dev/218/ip_192_168_100_187' to = '/dev/218/ip_192_168_100_187/ch2'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/dewar_temp_reader.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "dewar_temp_reader_ch3"
        type = "relay.py">
    <remap from = '/tz2019/dewar/temp' to = '/tz2019/dewar/temp/sis2'/>
    <remap from = '/dev/218/ip_192_168_100_187' to = '/dev/218/ip_192_168_100_187/ch3'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/dewar_temp_reader.conf" />
  </node>


  <node pkg = "necst-tz2019"
        name = "dewar_temp_reader_ch4"
        type = "relay.py">
    <remap from = '/tz2019/dewar/temp' to = '/tz2019/dewar/temp/70k'/>
    <remap from = '/dev/218/ip_192_168_100_187' to = '/dev/218/ip_192_168_100_187/ch4'/>
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/dewar_temp_reader.conf" />
  </node>
-->


<!--dewar_press_section
  <node pkg = "necst-tz2019"
        name = "dewar_vacuum_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find necst-tz2019)/node_conf/dewar_vacuum_reader.conf" />
  </node>
-->


<!--


  <node pkg = "necst-tz2019"
        name = "sis_iv_sim"
        type = "sis_iv_sim.py">
  </node>


  <node pkg = "necst-tz2019"
        name = "sa_data_sim"
        type = "sa_data_sim.py">
  </node>


  <node pkg = "necst-tz2019"
        name = "temp_data_sim"
        type = "temp_data_sim.py">
  </node>


  <node pkg = "necst-tz2019"
        name = "vacuum_data_sim"
        type = "vacuum_data_sim.py">
  </node>

-->



</launch>
